[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'extraodinary' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-variant: normal;
    text-transform: none;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-ic_airplane:before {
    content: "\e900";
  }
  .icon-ic_bag:before {
    content: "\e901";
  }
  .icon-ic_calendar:before {
    content: "\e902";
  }
  .icon-ic_camera:before {
    content: "\e903";
  }
  .icon-ic_close-cross:before {
    content: "\e904";
  }
  .icon-ic_cog:before {
    content: "\e905";
  }
  .icon-ic_comment:before {
    content: "\e906";
  }
  .icon-ic_contact-us:before {
    content: "\e907";
  }
  .icon-ic_facebook:before {
    content: "\e908";
  }
  .icon-ic_google:before {
    content: "\e909";
  }
  .icon-ic_music:before {
    content: "\e90a";
  }
  .icon-ic_palette:before {
    content: "\e90b";
  }
  .icon-ic_pinterest:before {
    content: "\e90c";
  }
  .icon-ic_plus:before {
    content: "\e90d";
  }
  .icon-ic_right-thin:before {
    content: "\e90e";
  }
  .icon-ic_search:before {
    content: "\e90f";
  }
  .icon-ic_suitcase:before {
    content: "\e910";
  }
  .icon-ic_twitter:before {
    content: "\e911";
  }
  .icon-ic_user:before {
    content: "\e912";
  }
  .icon-ic_video:before {
    content: "\e913";
  }
  